@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  a {
    @apply no-underline;
  }
} */

@layer components {
  .input__base {
    @apply border border-black rounded-lg py-2 px-4 text-start mr-4;
  }

  .form {
    @apply flex flex-col justify-start items-stretch space-y-3;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
